<nav>
  <div class="nav-wrapper">
    <div class="container">
      <a routerlink="" class="brand-logo">Contacts Book</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a [routerLink]="[{ outlets: { 'popup': [ 'add'] }}]" skipLocationChange>Додати новий</a></li>
        <li><a href="#">Контакти</a></li>
        <li><a href="#">Експорт</a></li>
        <li><a href="#">Вхід</a></li>
        <li><a href="#">Вихід</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<ul class="sidenav" id="mobile-demo">
  <li><a [routerLink]="[{ outlets: { 'popup': [ 'add'] }}]" skipLocationChange>Додати новий</a></li>
  <li><a href="#">Контакти</a></li>
  <li><a href="#">Експорт</a></li>
  <li><a href="#">Вхід</a></li>
  <li><a href="#">Вихід</a></li>
</ul>