<div class="right-align links">
    <a (click)="showCheckBoxes()" class="waves-effect waves-light btn-small"><i class="material-icons left">check</i>Вибрати</a>
    <a (click)="showFilter()" class="waves-effect waves-light btn-small"><i class="material-icons right">settings</i>Фільтр</a>
</div>

<app-book-filter *ngIf="filter" [records]="allRecords" (recordsChanged)="onRecordsChanged($event)"></app-book-filter>

<table class="highlight responsive-table records" *ngIf="allRecords.length; else info">
  <thead>
    <tr>
        <th *ngIf="showCheckbox">
          <label>
              <input type="checkbox" (click)="checkAll($event)"/><span></span>
          </label>
        </th>
        <th>Прізвище</th>
        <th>Ім'я</th>
        <th>E-mail</th>
        <th>Мобільний</th>
        <th></th>
    </tr>
  </thead>

  <tbody *ngIf="records.length; else search">
    <tr *ngFor="let record of records; let i = index" (click)="checkRecord(i)">
      <td *ngIf="showCheckbox">
        <label>
          <input type="checkbox" class="checkbox" id="check_{{ i }}" value="{{ i }}"/><span></span>
        </label>
      </td>
      <td>{{ record.surname }}</td>
      <td>{{ record.name }}</td>
      <td>{{ record.email }}</td>
      <td>{{ record.mobile }}</td>
      <td class="actions">
        <ul>
          <li><a [routerLink]="[{ outlets: { 'popup': [ 'view', i] }}]" skipLocationChange class="btn-floating green"><i class="material-icons">pageview</i></a></li>
          <li><a [routerLink]="[{ outlets: { 'popup': [ 'edit', i] }}]" skipLocationChange class="btn-floating yellow darken-1"><i class="material-icons">edit</i></a></li>
          <li><a (click)="onDelete(i)" class="btn-floating red"><i class="material-icons">delete</i></a></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>

<ng-template #info>
  <h5 class="center-align">Список контактів порожній</h5>
</ng-template>


<ng-template #search>
    <h5 class="center-align">По заданим критерія нічого не знайдено</h5>
  </ng-template>
