.links a{
    margin-left: 5px;
}

[type="checkbox"]+span:not(.lever):before, 
[type="checkbox"]:not(.filled-in)+span:not(.lever):after {
    margin-top: 2px;
}

[type="checkbox"]+span:not(.lever) {
    height: 16px;
    line-height: 16px;
}

.actions {
    position: relative;
    text-align: right;
}

.actions ul {
    padding: 0;
    margin: 0;
}

.actions li{
    display: inline-block;
    margin-left: 5px;
}

.fixed-action-btn {
    text-align: right;
    position: relative;
    z-index: 10;
    padding: 0;
    bottom: 0;
    right: 0;
}

.fixed-action-btn.direction-left ul, .fixed-action-btn.direction-right ul {
    right: 44px;
}

.fixed-action-btn.direction-left ul li, .fixed-action-btn.direction-right ul li {
    margin: 0 15px 0 0;
}