  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Детальна інформація</h4>
      <p><b>Прізвище</b>: {{ record.surname }}</p>
      <p><b>Ім'я</b>: {{ record.name }}</p>
      <p><b>Країна</b>: {{ record.country }}</p>
      <p><b>Місто</b>: {{ record.city }}</p>
      <p><b>E-mail</b>: {{ record.email }}</p>
      <p><b>Мобільний</b>: {{ record.mobile }}</p>
      <p><b>Місце роботи</b>: {{ record.company }}</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Закрити</a>
    </div>
  </div>